################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuickDefine/obj
/.vs/QuickDefine/v16/Server/sqlite3
/packages
/.vs/QuickDefine/v16
